{% extends 'home/layout/base.html' %}
{% block main %}
    <body>
        <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
            <h2>Te lo vendo</h2>
            <h5>Moda en un clic, estilo en tu puerta.</h5>
            <p>Te lo vendo nació de la pasión de Isabella por la moda y la conveniencia de las compras en línea. Con un enfoque en la asesoría personalizada, creó una tienda de ropa en línea única y exitosa, que se expandió internacionalmente y se convirtió en una referencia en el mundo de la moda en línea.</p>
            <h3 class="mt-4">Nuestras Secciones</h3>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                <a class="nav-link active" href="#">Deportes</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Formal</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Casual</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#">Otros</a>
                </li>
            </ul>
            <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
            <h2>¡Una experiencia increíble en "Te lo vendo"!</h2>
            <h5>Title description, Dic 7, 2022</h5>
            <p>¡Wow, simplemente wow! Mi primera compra en "Te lo vendo" fue una experiencia fantástica. La asesoría de moda en línea fue acertada, y estoy enamorada de cada prenda que compré. ¡Es como si hubieran leído mi mente y me presentaran exactamente lo que estaba buscando!</p>
            <p>#TeLoVendo #ExperienciaDeCompra #ModaEnLínea #EstiloÚnico #ClienteFeliz</p>
            <h2 class="mt-5"> ¡Amor a primera compra en "Te lo vendo"!</h2>
            <h5>Title description, May 2, 2023</h5>
            <p>¡Estoy encantado con mi compra en "Te lo vendo"! La asesoría de moda en línea fue excepcional, me ayudaron a encontrar exactamente lo que buscaba y descubrí algunas prendas que se adaptaban perfectamente a mi estilo. ¡El equipo de servicio al cliente fue amable y atento en todo momento!</p>
            <p>#TeLoVendo #ExperienciaDeCompra #AmorALaPrimeraCompra #ModaEnLínea #ClienteFeliz</p>
            </div>
        </div>
        </div>
        
        <div class="mt-5 p-4 bg-dark text-white text-center">
        <p>Footer</p>
        </div>
        
        
        
        </body>
{% endblock main %}